@{
    ViewBag.Title = "Home Page";
}

<div>
    <a class="btn btn-primary" href="/">Home</a>
    <a class="btn btn-danger" href="/Home/Product">Product</a>
    <a class="btn btn-success" href="/Home/Catagory">Catagory</a>
    <a class="btn btn-success" href="/Home/Login">Orders</a>

</div>