
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="" method="post">
    <div>
        Name: <input type="text" name="Name" value="Name"><br />
        Password: <input type="password" name="Password" value="Password"><br />
        <input type="submit" value="Login">


    </div>
    </form>
